@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Lato', ui-sans-serif, system-ui, sans-serif;
  --color-accent: #31572c;
  --color-bg: #0d1321;
  --color-accent-border: #212529;
}
